<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="bower_components/jquery/jquery.min.js"></script>

    <script>
      $(function () {
        console.log("DOM ready");
        // On keystroke
        var tagText = "David Cameron";
        var data = {
          text: tagText
        };
        $.get("/tags", data, function (response) {
          // parse response
          console.log(response);
        });
      });
    </script>

  </head>
  <body>
    <div class="container">

      <div class="jumbotron">
        <h1><%= title %></h1>
        <p>Page for BBC IRFS <%= title %> team.</p>
        <a href="/livetopics" class="btn btn-primary btn-lg">Livetopics BBC One</a>
      </div>

      <div class="row">

        <div class="col-md-8">
          <!-- FORM -->
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="title" class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="title" placeholder="Title">
              </div>
            </div>
            <div class="form-group">
              <label for="tags" class="col-lg-2 control-label">Tags</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="tags" placeholder="Tags">
              </div>
            </div>
            <div class="form-group">
              <label for="body" class="col-lg-2 control-label">Body</label>
              <div class="col-lg-offset-2 col-lg-10">
                <textarea class="form-control" rows="3" id="body" placeholder="Start Writing..."></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary">Send for content extraction</button>
              </div>
            </div>
          </form>

        </div>

        <div class="col-md-4">

          <!-- RELATED CONTENT -->

          <div id="related">
            <h2>Related Articles</h2>
            <ul>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
            </ul>
          </div>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </body>
</html>
