<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='components/jquery-mentions-input/jquery.mentionsInput.css' />
    <link rel='stylesheet' href='components/medium/medium.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">

      <div class="jumbotron">
        <h1><%= title %></h1>
        <p>Page for BBC IRFS <%= title %> team.</p>
        <a href="/livetopics" class="btn btn-primary btn-lg">Livetopics BBC One</a>
      </div>

      <div class="row">

        <div class="col-md-8">

          <div class="row">
            <div class="col-md-12">
              <div class="field Medium field-title" contenteditable data-medium-placeholder="Title"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="field Medium field-tags" contenteditable data-medium-placeholder="Tags"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="field Medium field-textarea" contenteditable data-medium-mode="rich" data-medium-placeholder="Please tale me a story…"></div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="btn-group btn-group-justified">
            <a href="#" class="btn btn-default" id="related-topics-btn"><span class="glyphicon glyphicon-refresh"></span> Related topics</a>
            <a href="#" class="btn btn-default" id="related-stories-btn"><span class="glyphicon glyphicon-refresh"></span> Related stories</a>
          </div>

          <hr>

          <div class="list-group" id="related-stories">
            <a href="#" class="list-group-item active">
              <h3 class="list-group-item-heading">Related Stories</h3>
            </a>
          </div>

          <div class="list-group" id="related-topics">
            <a href="#" class="list-group-item active">
              <h3 class="list-group-item-heading">Related Topics</h3>
            </a>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

    <script src="components/jquery/jquery.min.js"></script>
    <script src="components/lodash/dist/lodash.min.js"></script>
    <script src="components/medium/medium.js"></script>
    <script src="components/jquery.elastic/jquery.elastic.source.js"></script>
    <script src="components/jquery-mentions-input/jquery.mentionsInput.js"></script>
    <script src="/javascripts/range.js"></script>
    <script src="/javascripts/tagging.js"></script>
    <script src="/javascripts/related.js"></script>

    <script type="text/javascript">

      /*$.get("/tag_image", { uri: "David_Cameron" }, function (response) {
        // response = url of image
        console.log(response);
      });*/

    </script>
  </body>
</html>
