<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='components/jquery-mentions-input/jquery.mentionsInput.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="components/jquery/jquery.min.js"></script>
    <script src="components/lodash/dist/lodash.min.js"></script>
    <script src="components/jquery.elastic/jquery.elastic.source.js"></script>
    <script src="components/jquery-mentions-input/jquery.mentionsInput.js"></script>

    <script>
      $(function () {

        $('textarea').mentionsInput({
          triggerChar: '+',
          onDataRequest:function (mode, query, callback) {
            $.getJSON("/tags", { text: query }, function (response) {
              var data = _.map(response, function(item){
                return {
                  id: item.uri,
                  name: item.label,
                  avatar: 'http://fillmurray.com/30/30',
                  type: 'dbpedia'
                };
              });

              // parse response
              callback.call(this, data);
            });
          }
        });

        var updateRelatedList = function (related) {

          var $list = $("#related").find("ul").empty();

          for (var i = 0; i < related.length; i++) {
            var r = related[i];
            console.log(r);
            var $li = $("<li />");
            var $img = $("<img src='"+r.img+"' width='40' />");
            var $a = $("<a href='"+r.thing+"'>"+r.label+"<a/>");
            $list.append($li.append($img, $a));
          };
        };

        $("#mainForm").on("submit", function (event) {
          event.preventDefault();

          $('textarea').data("mentionsInput").getMentions(function (mentions) {
            var ids = [];
            $.each(mentions, function (index, tag) {
              ids.push(tag.id);
            });
            $.post("/extract", { ids: ids }, function (response) {
              updateRelatedList(response);
            });
          });

        });


      });
    </script>

  </head>
  <body>
    <div class="container">

      <div class="jumbotron">
        <h1><%= title %></h1>
        <p>Page for BBC IRFS <%= title %> team.</p>
        <a href="/livetopics" class="btn btn-primary btn-lg">Livetopics BBC One</a>
      </div>

      <div class="row">

        <div class="col-md-8">

          <!-- FORM -->
          <form class="form-horizontal" role="form" id="mainForm">
            <div class="form-group">
              <label for="title" class="col-lg-2 control-label">Title</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="title" placeholder="Title">
              </div>
            </div>
            <div class="form-group">
              <label for="tags" class="col-lg-2 control-label">Tags</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="tags" placeholder="Tags">
              </div>
            </div>
            <div class="form-group">
              <label for="body" class="col-lg-2 control-label">Body</label>
              <div class="col-lg-offset-2 col-lg-10">
                <textarea class="form-control" rows="3" id="body" name="body" placeholder="Start Writing..."></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary">Find Related topics</button>
              </div>
            </div>
          </form>

        </div>

        <div class="col-md-4">

          <!-- RELATED CONTENT -->

          <div id="related">
            <h2>Related topics</h2>
            <ul>
            </ul>
          </div>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

    <script type="text/javascript">

      $.get("/tag_image", { uri: "David_Cameron" }, function (response) {
        // response = url of image
        console.log(response);
      });

    </script>
  </body>
</html>
