body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#related h2 {
  margin: 0 0 6px 0;
}
#related ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#related ul li {
  margin: 0 0 6px 0;
}
#related ul li img {
  margin: 0 6px 0 0;
}
.Medium[contenteditable] {
  border: 1px solid rgba(0, 0, 0, 0.075);
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
}
.Medium p {
  margin: 5px 0 15px   !important;
}
.Medium.field-title {
  font-size: 35px;
  min-height: 52px;
}
.field-tags {
  min-height: 40px;
}
.field-textarea {
  min-height: 200px;
}
.mentions-autocomplete-list {
  margin: 0 0 0 10px;
}
span[data-entity] {
  border-bottom: 1px solid green;
}
span[data-entity]:before {
  content: "+";
}
span[data-entity]:hover {
  background: #ffc;
  cursor: pointer;
}
span[data-entity].suggestion {
  outline: 1px dashed red;
}
.list-group .url,
.list-group h4 {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}
.list-group .img-thumbnail {
  margin-right: 5px;
}
.list-group-item.group {
  background-color: rgba(48, 113, 169, 0.33299999999999996);
}
