body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#related {
  h2 {
    margin: 0 0 6px 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 6px 0;

      img {
        margin: 0 6px 0 0;
      }
    }
  }
}

.Medium[contenteditable] {
  border: 1px solid rgba(0, 0, 0, 0.075);
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
}

.Medium p {
  margin: 5px 0 15px   !important;
}

.Medium.field-title {
  font-size: 35px;
  min-height: 52px;
}

.field-tags {
  min-height: 40px;
}

.field-textarea {
  min-height: 200px;
}

.mentions-autocomplete-list {
  margin: 0 0 0 10px;
}

.list-group {
  .url, h4 {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }
  .img-thumbnail {
    margin-right: 5px;
  }
}

.list-group-item.group {
  background-color: fade(#3071a9, 33.3);
}