body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.jumbotron {
  padding: 30px !important;
}
.jumbotron blockquote {
  border-left: none;
  padding-left: 0;
}
#related h2 {
  margin: 0 0 6px 0;
}
#related ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#related ul li {
  margin: 0 0 6px 0;
}
#related ul li img {
  margin: 0 6px 0 0;
}
.Medium[contenteditable] {
  border: 1px solid rgba(0, 0, 0, 0.075);
  font-size: 20px;
  margin-bottom: 15px;
  position: relative;
}
.Medium p {
  margin: 5px 0 15px   !important;
}
.Medium.field-title {
  font-size: 35px;
  min-height: 52px;
}
.field-tags {
  min-height: 40px;
}
.field-textarea {
  min-height: 200px;
}
.field-textarea i {
  outline: 1px dashed #008000;
  padding: 4px;
  border: none !important;
}
.field-textarea i:before {
  color: #999999;
}
.mentions-autocomplete-list {
  margin: 0 0 0 10px;
}
span[data-entity],
.field-textarea i,
.field-textarea b {
  border-bottom: 1px solid green;
  font-weight: normal;
}
span[data-entity]:before,
.field-textarea i:before,
.field-textarea b:before {
  content: "+";
}
span[data-entity]:hover,
.field-textarea i:hover,
.field-textarea b:hover {
  background: #ffc;
  cursor: pointer;
}
span[data-entity].suggestion,
.field-textarea i.suggestion,
.field-textarea b.suggestion {
  outline: 1px dashed red;
}
.list-group .url,
.list-group h4 {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}
.list-group .img-thumbnail {
  margin-right: 5px;
}
.list-group-item.group {
  background-color: rgba(153, 153, 153, 0.33299999999999996);
}
.list-group-item.selected {
  background-color: rgba(92, 184, 92, 0.33299999999999996);
}
button[data-state="loading"],
[data-state="loading"] .list-group-item.active {
  background-color: #5bc0de !important;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
button[data-state="loading"]:hover {
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.list-group[data-state="loading"] {
  opacity: 0.6;
}
